

@qure:registry=https://qurenpm.qure.ai/
@ohif:registry=https://qurenpm.qure.ai/
registry=https://registry.npmjs.org/
//qurenpm.qure.ai/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJrdW5qZXNoIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sIm5hbWUiOiJrdW5qZXNoIiwiZ3JvdXBzIjpbImt1bmplc2giLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJrdW5qZXNoIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sImlhdCI6MTY2NTQ5Mzk5MSwibmJmIjoxNjY1NDkzOTkyLCJleHAiOjE2NzA2Nzc5OTF9.C3OYfX9Tg5ohdSqJiPncqXaQxorgd55GiChWRpDgW-c
network-timeout=100000000